@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --chart-1: 0 72% 51%; /* Red for Awful */
    --chart-2: 48 96% 50%; /* Yellow for Okay */
    --chart-3: 122 39% 49%; /* Green for Good */
    --chart-4: 221 83% 53%; /* Blue for Great */
    --chart-5: 271 91% 65%; /* Purple for Awesome */
  }

  .dark {
    --background: 0 0% 20%; /* Dark Gray */
    --foreground: 214 41% 78%; /* Light Steel Blue */
    
    --card: 180 25% 25%; /* Dark Slate Gray */
    --card-foreground: 214 41% 78%;
    
    --popover: 180 25% 22%;
    --popover-foreground: 214 41% 78%;
    
    --primary: 214 41% 78%; /* Light Steel Blue */
    --primary-foreground: 180 25% 20%; /* Darker Slate Gray for contrast */
    
    --secondary: 180 25% 30%;
    --secondary-foreground: 214 41% 78%;
    
    --muted: 180 25% 30%;
    --muted-foreground: 214 30% 65%;
    
    --accent: 180 25% 35%;
    --accent-foreground: 214 41% 78%;
    
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 180 25% 35%;
    --input: 180 25% 35%;
    --ring: 214 41% 78%;

    --chart-1: 0 63% 40%;
    --chart-2: 48 80% 45%;
    --chart-3: 122 35% 55%;
    --chart-4: 221 75% 60%;
    --chart-5: 271 80% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
